<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<beans profile="dev">
		<bean id="product" class="com.demo.entity.Product">
			<property name="productName" value="华为 meta20"></property>
		</bean>
	</beans>

	<beans profile="prod">
		<bean id="product" class="com.demo.entity.Product">
			<property name="productName" value="iphone XL"></property>
		</bean>
	</beans>
</beans>
