<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="rmbPayService" class="com.demo.service.RMBPayService" ></bean>
	<bean id="usdPayService" class="com.demo.service.USDPayService" ></bean>
	<bean id="logRMBPay" class="com.demo.aop.LogRMBPay"></bean>
	<bean id="logUSDPay" class="com.demo.aop.LogUSDPay"></bean>
	<bean id="logPay" class="com.demo.aop.LogPay"></bean>
	
	<aop:config>
		<!-- 定义切面 -->
		<aop:aspect ref="logRMBPay">
			<!-- 前置通知 -->
			<aop:before method="payBefore" pointcut="execution(** com.demo.service.RMBPayService.payment(..))" />
			
			<!-- 后置通知 -->
			<aop:after method="payAfter" pointcut="execution(** com.demo.service.RMBPayService.payment(..))" />
			
			<!-- 返回通知 -->
			<aop:after-returning method="payReturn" pointcut="execution(** com.demo.service.RMBPayService.payment(..))" />
			
			<!-- 异常通知 -->
			<aop:after-throwing method="payException" pointcut="execution(** com.demo.service.RMBPayService.payment(..))" />
		</aop:aspect>
		
		<!-- 定义切面 -->
		<aop:aspect ref="logUSDPay">
			<!-- 定义切点 -->
			<aop:pointcut expression="execution(** com.demo.service.USDPayService.payment(..))" id="pointcut" />
			
			<!-- 环绕通知 -->
			<aop:around method="around" pointcut-ref="pointcut" />
			
			<!-- 引入新功能 -->
			<aop:declare-parents types-matching="com.demo.service.PayService+" 
					implement-interface="com.demo.service.RiskService" 
					default-impl="com.demo.service.USDRiskService" />
		</aop:aspect>
		
		<!-- 定义切面 -->
		<aop:aspect ref="logPay">
			<!-- 定义切点 -->
			<aop:pointcut expression="execution(** com.demo.service.PayService.payment(String)) and args(orderNo)" id="pointcutLog" />
			
			<!-- 前置通知：传递参数 -->
			<aop:before method="payBefore" pointcut-ref="pointcutLog" />
		</aop:aspect>
	</aop:config>
</beans>
